/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-image: assets/images/landing.jpeg;
  height: 100%
  background-attachment: fixed;
  background-size: cover;
}

html {
	scroll-behavior: smooth;
}

/*header {
    border-width: 2px;
    border-color: black;
    border-style: solid;*/
    /*margin: top_px right_px bottom_px left_px;
    margin-bottom: .5rem;
    padding: 0.5rem;
    display: flex;
    vertical alignment
    align-content: right;
    border-bottom: 1px solid gray;
    background-size: .5rem;
    background-color: #faf2f9;*/
/*}*/

/*#body
background-image: 'assets/images/landing.jpeg';
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;*/

div.homepage {
  display: flex;
  justify-content: center;
}

#Navbar {
  display: flex;
  flex-direction: : row;
  justify-content: flex-end;
}
ul.topNav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.topNav li a {
  display: inline-flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/*header .nav {*/
/*    margin: 1rem;
    height: 2px;
    display: flex;
    flex-direction: row-reverse;
}
#landing {
	height: 100vh;
}
.container-landing {
	background-color: #faf2f9;

}
.container-aboutme {
  background-color: #faf2f9;
}

#portfolio {
  height: 100vh;
}
.container {
	width: 500px;
	padding: 80px;
}

div h1 {
	font-family: 'Secular One', sans-serif;
	font-size: 100px
}

/*Contact Page*/
/*.container-contact {
  background-color: #faf2f9
  height: 100vh;
}*/

.aboutcontainer {
  display: flex;
  flex-direction: row;
}

.contactme {
  display: flex;
  flex-direction: row;
}
